/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC  &kp B  &kp Y  &kp O   &kp U   &trans    &trans  &kp L   &kp D   &kp W  &kp V  &trans
&trans   &kp C  &kp I  &kp E   &kp A   &kp Z     &kp Q   &kp H   &kp T   &kp S  &kp N  &trans
&trans   &kp G  &kp X  &kp J   &kp K   &trans    &trans  &kp R   &kp M   &kp F  &kp P  &trans
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
