/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <29 30>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC     &kp B  &kp Y           &kp O               &kp U             &kp APOS     &kp UNDERSCORE  &kp L              &kp D                &kp W            &kp V  &trans
&kp TAB     &kp C  &mt LEFT_ALT I  &mt LEFT_CONTROL E  &mt LEFT_SHIFT A  &kp Z        &kp Q           &mt RIGHT_SHIFT H  &mt RIGHT_CONTROL T  &mt RIGHT_ALT S  &kp N  &trans
&caps_word  &kp G  &kp X           &kp J               &kp K             &kp COMMA    &kp PERIOD      &kp R              &kp M                &kp F            &kp P  &trans
                                   &kp LEFT_META       &lt 2 SPACE       &kp DEL      &kp BACKSPACE   &lt 1 RIGHT_META   &trans
            >;
        };

        layer_1 {
            bindings = <
&kp SEMI       &kp N1           &kp N2            &kp N3          &kp N4                &kp N5         &kp N6     &kp N7                 &kp N8           &kp N9             &kp N0    &trans
&kp BACKSLASH  &kp EXCLAMATION  &kp AT_SIGN       &kp HASH        &kp DOLLAR            &kp PERCENT    &kp CARET  &kp AMPERSAND          &kp ASTERISK     &kp EQUAL          &kp PIPE  &kp SLASH
&trans         &trans           &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp PLUS       &kp MINUS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &trans    &trans
                                                  &trans          &trans                &trans         &trans     &trans                 &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp HOME        &kp UP_ARROW    &kp END          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans          &trans          &trans           &trans  &trans
                        &trans  &trans  &trans    &trans  &trans          &trans
            >;
        };
    };
};
